<div class="row">
  <div class="col-md-12 text-center">
     <a class="btn btn-black btn-small margin-four no-margin-bottom" href="/posts">View All Blog</a>
  </div>
</div>
<div class="row no-gutters social-media">

  <div class="col-md-12 col-sm-12 footer-social text-center sm-text-center">
    <!-- social media link -->
                  <a target="_blank" href="https://t.me/altcointrading_net"><i class="fa fa-telegram"></i></a>
                  <a target="_blank" href="https://twitter.com/tradingfanbois"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" href="https://reddit.com/r/altcointrader"><i class="fa fa-reddit"></i></a>
                  <a target="_blank" href="http://us15.campaign-archive1.com/home/?u=b5cca524e997c8e12f8ad51e1&id=9b56578f1c"><i class="fa fa-newspaper-o"></i></a>
                  <a target="_blank" href="mailto:admin@bestbitcoinexchange.co"><i class="fa fa-mail-reply"></i></a>
                  <a target="_blank" href="https://github.com/at-publishing"><i class="fa fa-github"></i></a>

     <!-- end social media link -->
    </div>

</div>

<div class="row no-gutters social-media">
  <div class="col-md-12 col-sm-12 footer-social text-center sm-text-center">
    {% for item in site.ref %}

      {{ item[1] }}

    {% endfor %}
  </div>
</div>

<div class="row no-gutters social-media">
  <div class="col-md-12 col-sm-12 footer-social text-center sm-text-center">
    Our favourites: <a class="intern" href="/bitfinex-coupon-code-5egV78YtlC/">About Bitfinex</a> - <a class="intern" href="/coinmama-coupon-code-fny3000/">About CoinMama</a>
  </div>
</div>



<div class="row no-gutters social-media">
  <div class="col-md-12 col-sm-12 footer-social text-center sm-text-center">
    &copy; 2015 - 2018 admin (at) bestbitcoinexchange.co
  </div>
</div>
</div><!-- main -->
